.table{
    margin-top: 20px;
    overflow: scroll;
    height: 400px;
    color: #6a5d5d;
    border: none;
}

.table tr:nth-of-type(odd){
    background-color: #f5f6fa;
}

.table td{
    padding: 0.5rem;
}